<!DOCTYPE html>
<html>
    <head>
        <title>Chatbot intro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="static/css/introPage.css">

    </head>

    <body>
        <div id="introList">
            <ul id="slide">
                <li> <!--첫번째 화면-->
                    <div>
                        <div class="page" id="first" >1</div>
                        <div class="page" id="second">2</div>
                        <div class="page" id="third">3</div>
                    </div>
                </li>
                <li> <!--두번째 화면-->
                    <div>
                        <div class="page" id="first" >4</div>
                        <div class="page" id="second">5</div>
                        <div class="page" id="third">6</div>
                    </div>
                </li>
            </ul>

            <div id = "button">
                <button class="startButton">챗봇 사용하기</button>
            </div>

            <div class="slider-btns" id="next"><span>&gt;</span></div>
            <div class="slider-btns" id="previous"><span>&lt;</span></div>

            <!--페이지 표시 바-->
            <div id="pageBar">
                <ul>
                </ul>
            </div>
        </div>


    <script src="static/js/introPage.js"></script>
    </body>
</html>